{% extends 'base.html' %}

{% block content %}
    <p align="left">
    <h1 style="width: 100%". align="left">{% block title %} Add a New Schedule {% endblock %}</h1>
    </p>
    <form method="post" style="text-align:center">
        <p align="left">
            <label for="name">Name</label>
            <input type="text" name="name"
                   placeholder="Name">
            </input>
        </p>

        <p align="left">
            <label for="amount">Amount</label>
            <input type="number" step="0.01" name="amount"
                   placeholder="Amount">
            </input>
        </p>

        <p align="left">
            <div class="d-flex align-items-left justify-content-left">
            <label for="frequency">Frequency</label>
            <select name="frequency" class="selectpicker form-control" style="width: 150px;">
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
            </select>
            </div>
        </p>

        <p align="left">
            <label for="startdate">Start Date</label>
            <input type="date" name="startdate"
                   placeholder="Start Date">
            </input>
        </p>
        <p align="left">
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}