{% extends "base.html" %}

{% block content %}
<h1 class="title">
  PyCashFlow
  <br/>
  <br/>
  <p><b>Balance: ${{ balance }}</b></p>
</h1>
<h2 class="subtitle">
<br/>
</h2>
<p align="center"><a href=report ><button class='btn btn-primary' style="height:75px;width:150px">Report</button></a></p>
<p align="center"><a href=schedule ><button class='btn btn-primary' style="height:75px;width:150px">Schedule</button></a></p>
<p align="center"><a href=create ><button class='btn btn-primary' style="height:75px;width:150px">Create Schedule</button></a></p>
<p align="center"><a href=balance ><button class='btn btn-primary' style="height:75px;width:150px">Update Balance</button></a></p>
{% endblock %}