/* Dropdown content (hidden by default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content1:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}

/* Add a black background color to the top navigation */
.topnav1 {
  background-color: DarkSlateGrey;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav1 a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: DarkCyan;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav1 .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown1 {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown1 .dropbtn {
  font-size: 35px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 5px;
  background-color: inherit;
  font-family: inherit;
  line-height: 30px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0%;
}

/* Style the links inside the dropdown */
.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav1 a:hover, .dropdown1:hover .dropbtn {
  background-color: #555;
  color: white;
}

.topnav1 a.icon {
  float: right;
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav1 a:not(:first-child), .dropdown1 .dropbtn {
    display: block;
  }
  .topnav1 a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav1.responsive {
    position: relative;
  }

  .topnav1.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav1.responsive a {
    float: none;
    display: inline-block;
    text-align: left;
  }

  .topnav1.responsive .dropdown1 {
    float: none;
  }

  .topnav1.responsive .dropdown-content1 {
    position: relative;
  }

  .topnav1.responsive .dropdown1 .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}