{% extends "base.html" %}

{% block content %}
  <div class = "container">
    <div class = "row">
        <div class="col md-12">
            <div style="background:transparent !important" class = "jumbotron p-3 p-md-5 text-white rounded">
               <h2  style="color:white; text-align: center;"><b>Holds</b> </h2>

                {% with messages  = get_flashed_messages() %}

                   {% if messages %}
                       {% for message in messages %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                                    <span aria-hidden="true">x</span>
                                </button>
                                {{message }}

                            </div>
                       {% endfor %}
                    {% endif %}

                {% endwith %}

                <table style="background-color:DarkSlateGrey; max-width: 800px" class="table  table-hover" border="2">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th style="color:white">Name</th>
                        <th style="color:white">Amount</th>
                        <th style="color:white">Type</th>
                        <th> <a href = "/clearholds" class="btn btn-danger float-center" style="font-size : 10px"
                                onclick="return confirm ('Are you sure you want to Delete ?')">Clear Holds</a>
                        </th>
                    </tr>

                    {% for row in hold %}
                    <tr>
                        <td style="display:none;">{{row.id}}</td>
                        <td style="color:white">{{row.name}}</td>
                        <td style="color:white">{{row.amount}}</td>
                        <td style="color:white">{{row.type}}</td>

                        <td>
                             <a href = "/deletehold/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm ('Are you sure you want to Delete ?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <h2  style="color:white; text-align: center;"><b>Skips</b> </h2>
                <table style="background-color:DarkSlateGrey; max-width: 800px" class="table  table-hover" border="2">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th style="color:white">Name</th>
                        <th style="color:white">Amount</th>
                        <th style="color:white">Date</th>
                        <th> <a href = "/clearskips" class="btn btn-danger float-center" style="font-size : 10px"
                                onclick="return confirm ('Are you sure you want to Delete ?')">Clear Skips</a>
                        </th>
                    </tr>

                    {% for row in skip %}
                    <tr>
                        <td style="display:none;">{{row.id}}</td>
                        <td style="color:white">{{row.name}}</td>
                        <td style="color:white">{{row.amount}}</td>
                        <td style="color:white">{{row.date}}</td>

                        <td>
                             <a href = "/deleteskip/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm ('Are you sure you want to Delete ?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
  </div>

{% endblock content %}