{% extends "base.html" %}

{% block content %}
<h1 class="title" style="color:white">
  <p style="font-size:20px; float: center; text-align: center"><span style="color:white; font-weight:bold">{{ todaydate }}</span></p>
  <p style="font-size:20px"><b style="color:white">Balance: <button type="button" style="font-size : 20px" class="btn btn-success float-center"
                data-toggle="modal" data-target="#balancemodal">{{ balance }}</button></b></p>
  <p style="font-size:20px">Lowest Balance: <span style="color:white; font-weight:bold">${{ minbalance }}</span></p>
    <a href = "/clearholds" class="btn btn-danger float-right" style="font-size : 15px; float : right"
          onclick="return confirm ('Are you sure you want to Delete ?')">Clear Holds</a>
</h1>
<head>
    <form class="form-inline" method="POST" action="{{ url_for('main.index') }}">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"></span>
                    <select name="yearamount" class="selectpicker form-control">
                        <option value="1">1 Year</option>
                        <option value="2">2 Years</option>
                        <option value="3">3 Years</option>
                        <option value="4">4 Years</option>
                    </select>
            </div>
            <button type="submit" class="btn btn-success float-center">Go</button>
        </div>
    </form>

    </select>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
    <div id="chart" class="chart"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    d.config={responsive: true};
    Plotly.newPlot('chart', d, {});

</script>
 <div id = "balancemodal" class = "modal fade" role="dialog">
                    <div class = "modal-dialog">
                        <div class="modal-content">
                            <div class = "modal-header">
                                <h4 class = "modal-title"  style="color:black">Update Balance</h4>
                            </div>

                            <div class = "modal-body">
                                <form action = "{{url_for('main.balance')}}" method="POST">
                                    <div class = "form-group">
                                        <label style="color:black"> Balance:</label>
                                        <input type="number" step="0.01" class="form-control" name="amount" required = "True">
                                    </div>
                                    <div class = "form-group">
                                        <label style="color:black"> Date:</label>
                                        <input type="date" class="form-control" name="date" required = "True" max="3000-01-01" onfocus="this.max=new Date().toISOString().split('T')[0]" />
                                    </div>
                                    <div class = "form-group">
                                        <button class="btn btn-primary" type = "submit" name="schedule">Update Balance</button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
{% endblock %}