<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyCashFlow</title>
    <link rel="shortcut icon" href="{{ url_for('main.favicon') }}">
    <link rel="apple-touch-icon" href="{{ url_for('main.appleicon') }}">
    <link rel="icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/style.css"/>
    <link rel="stylesheet" href="./static/css/dark.css"/>
    <link rel="stylesheet" href="./static/css/skeleton.css"/>
    <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
      <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register("/sw.js").then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
    <meta name="viewport" content="width=device-width, initial-scale=0.65">
</head>

<body>
     <div class="container">
        <div class="topnav1" id="myTopnav">
            <div class="dropdown1">
                <button class="dropbtn">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="dropdown-content1">
                    <a href="/">Home </a>
                    <a href="/profile">Profile </a>
                    <a href="/logout">Log Out </a>
                </div>
            </div>
        </div>
        <div style="clear: both">

<h1 class="title" style="color:white">
    <br />
  Welcome, {{ session['name'] }}!
    <br />
    <br />
    <br />
</h1>
  <p><b style="color:white"><button type="button" style="font-size : 20px; margin-left:5%" class="btn btn-success float-center"
                data-toggle="modal" data-target="#pwmodal">Change Password</button></b></p>
        <div id = "pwmodal" class = "modal fade" role="dialog">
            <div class = "modal-dialog">
                <div class="modal-content">
                    <div class = "modal-header">
                        <h4 class = "modal-title"  style="color:black">Change Password</h4>
                    </div>

                    <div class = "modal-body">
                        <form action = "{{url_for('main.changepw')}}" method="POST">
                            <div class = "form-group">
                                <label style="color:black"> New Password:</label>
                                <input class="input is-large" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        <button type="submit" class="btn btn-success float-center">Go</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
