{% extends "base.html" %}

{% block content %}
  <div class = "container">
    <div class = "row">
        <div class="col md-12">
            <div style="background:transparent !important" class = "jumbotron p-3 p-md-5 text-white rounded">
               <h2  style="color:white"><b>Schedules</b>  </h2>

                {% with messages  = get_flashed_messages() %}

                   {% if messages %}
                       {% for message in messages %}
                            <div class="alert alert-success alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                                    <span aria-hidden="true">x</span>
                                </button>
                                {{message }}

                            </div>
                       {% endfor %}
                    {% endif %}

                {% endwith %}

                <table style="background-color:DarkSlateGrey" class="table table-hover sortable" border="2">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th style="color:white">Name</th>
                        <th style="color:white">Amount</th>
                        <th style="color:white">Type</th>
                        <th style="color:white">Frequency</th>
                        <th style="color:white">Start Date</th>
                        <th>
                             <button type="button"  class="btn btn-success float-center"
                                    data-toggle="modal" data-target="#mymodal">Add New</button>
                        </th>
                    </tr>

                    {% for row in schedule %}
                    <tr>
                        <td style="display:none;">{{row.id}}</td>
                        <td style="color:white">{{row.name}}</td>
                        <td style="color:white">{{row.amount}}</td>
                        <td style="color:white">{{row.type}}</td>
                        <td style="color:white">{{row.frequency}}</td>
                        <td style="color:white">{{row.startdate}}</td>

                        <td>
                            <a href = "/addhold/{{row.id}}" class="btn btn-success btn-xs">Hold</a>
                            <a href = "/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                             <a href = "/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm ('Are you sure you want to Delete ?')">Delete</a>
                        </td>
                    </tr>

                <!-- Edit Modal -->

                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title"  style="color:black">Update Schedule</h4>
         </div>
         <div class="modal-body">
            <form action="{{url_for('main.update')}}" method="POST">
               <div class="form-group">
                  <label style="color:black">Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">
                  <input type="text" class="form-control" name="name" value="{{row.name}}" required = "True">
               </div>
               <div class="form-group">
                  <label style="color:black">Amount:</label>
                  <input type="number" min="0.00" step="0.01" class="form-control" name="amount" value="{{row.amount}}" required = "True">
               </div>
                <div class = "form-group">
                    <label style="color:black"> Type:</label>
                    <select name="type" class="selectpicker form-control" style="width: 150px;" data-selected="{{row.type}}" required = "True">
                                <option disabled selected value> -- select an option -- </option>
                                <option value="Income">Income</option>
                                <option value="Expense">Expense</option>
                    </select>
                </div>
               <div class="form-group">
                  <label style="color:black">Frequency:</label>
                  <select name="frequency" class="selectpicker form-control" style="width: 150px;" data-selected="{{row.frequency}}" required = "True">
                              <option value="Weekly">Weekly</option>
                              <option value="BiWeekly">BiWeekly</option>
                              <option value="Monthly">Monthly</option>
                              <option value="Quarterly">Quarterly</option>
                              <option value="Yearly">Yearly</option>
                              <option value="Onetime">Onetime</option>
                  </select>
               </div>
               <div class="form-group">
                  <label style="color:black">Start Date:</label>
                  <input type="date" class="form-control" name="startdate" value="{{row.startdate}}" required = "True">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

                    {% endfor %}
                </table>
            </div>

                <!-- Open Modal Box (Add Student)-->

                <div id = "mymodal" class = "modal fade" role="dialog">
                    <div class = "modal-dialog">
                        <div class="modal-content">
                            <div class = "modal-header">
                                <h4 class = "modal-title"  style="color:black">Add Schedule</h4>
                            </div>

                            <div class = "modal-body">
                                <form action = "{{url_for('main.create')}}" method="POST">

                                    <div class = "form-group">
                                        <label style="color:black"> Name:</label>
                                        <input type="text" class="form-control" name="name" required = "True">
                                    </div>

                                    <div class = "form-group">
                                        <label style="color:black"> Amount:</label>
                                        <input type="number" min="0.00" step="0.01" class="form-control" name="amount" required = "True">
                                    </div>
                                    <div class = "form-group">
                                        <label style="color:black"> Type:</label>
                                        <select name="type" class="selectpicker form-control" style="width: 150px;" required = "True">
                                                    <option disabled selected value> -- select an option -- </option>
                                                    <option value="Income">Income</option>
                                                    <option value="Expense">Expense</option>
                                        </select>
                                    </div>
                                    <div class = "form-group">
                                        <label style="color:black"> Frequency:</label>
                                        <select name="frequency" class="selectpicker form-control" style="width: 150px;" required = "True">
                                                    <option disabled selected value> -- select an option -- </option>
                                                    <option value="Weekly">Weekly</option>
                                                    <option value="BiWeekly">BiWeekly</option>
                                                    <option value="Monthly">Monthly</option>
                                                    <option value="Quarterly">Quarterly</option>
                                                    <option value="Yearly">Yearly</option>
                                                    <option value="Onetime">Onetime</option>
                                        </select>
                                    </div>
                                    <div class = "form-group">
                                        <label style="color:black"> Start Date:</label>
                                        <input type="date" class="form-control" name="startdate" required = "True">
                                    </div>
                                    <div class = "form-group">
                                        <button class="btn btn-primary" type = "submit" name="schedule">Add New Schedule</button>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script> document.querySelectorAll('[data-selected]').forEach(e => {
   e.value = e.dataset.selected
    });
</script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock content %}