{% extends "base.html" %}

{% block content %}
  <div class = "container">
    <div class = "row">
        <div class="col md-12">
            <div style="background:transparent !important" class = "jumbotron p-3 p-md-5 text-white rounded">
                <h2  style="color:white"><b>Transactions</b></h2>
                <table style="background-color:DarkSlateGrey" class="table table-hover" border="2">
                    <tr>
                        <th style="display:none;">ID</th>
                        <th style="color:white">Name</th>
                        <th style="color:white">Date</th>
                        <th style="color:white">Type</th>
                        <th style="color:white">Amount</th>
                    </tr>

                    {% for row in total %}
                    <tr>
                        <td style="display:none;">{{row.id}}</td>
                        <td style="color:white">{{row.name}}</td>
                        <td style="color:white">{{row.date}}</td>
                        <td style="color:white">{{row.type}}</td>
                        <td style="color:white">{{row.amount}}</td>
                        <td>
                            <a href = "/addskip/{{row.id}}" class="btn btn-success btn-xs">Skip</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}